---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/Layout.astro";
import { tags } from "../../utils/tags";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  return tags.map((tag) => ({
    params: { tag },
    props: {
      posts: allPosts.filter((post) => post.frontmatter.tags.includes(tag)),
    },
  }));
}

export type Props = {
  posts: Awaited<ReturnType<typeof Astro.glob>>;
};

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag ?? ""}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <BlogPost title={post.frontmatter.title} url={post.url ?? "/"} />
      ))
    }
  </ul>
</BaseLayout>
