---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <Navbar />

  <main>
    <h1>About this project</h1>
    <p>
      Hey, this is a test playground project for me to play with Astro and gain
      the basic knowledge to build a production-ready website with it.
    </p>
  </main>
</Layout>
