---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <Navbar />
  <h1>Custom blog</h1>
  <p>Here, there will be all the blogposts rendered.</p>
</Layout>
